<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bozhongqun.cat.mapper.UserMapper">

    <resultMap id="user" type="com.bozhongqun.cat.entity.UserInfo">
        <result column="userId" jdbcType="INTEGER" property="USERID"/>
        <result column="userName" jdbcType="VARCHAR" property="USERNAME"/>
        <result column="pwd" jdbcType="VARCHAR" property="PWD"/>
        <result column="createTime" jdbcType="VARCHAR" property="CREATETIME"/>
    </resultMap>

    <select id="getUserById" resultType="com.bozhongqun.cat.entity.UserInfo">
        SELECT USERID
               ,USERNAME
               ,PWD
               ,CREATETIME
        FROM PLAYCAT.USER_INFO
        WHERE USERID = #{userId}
    </select>

</mapper>
